.Card {
  border-width: 1px;
  border-color: #a7a4a4;
  border-style: solid;
  border-radius: 4px;
  margin: 10px;
  width: 300px;
  height: 300px;
  font-size: 13px;
  text-align: left;
}

.Card .image {
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 300px;
  height: 180px;
}

.Card .description {
  padding: 5px 10px; 
}

.Card .title {
  color: #0073bb;
  margin: 5px 0;
}

.Card .review_count {
  margin: 0 5px;
}

.Card .rating {
  display: flex;
  align-items: center;
}
